<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TabbarList</key>
	<array>
		<dict>
			<key>viewcontrol</key>
			<string>ELHomePageViewController</string>
			<key>title</key>
			<string>首页</string>
			<key>image</key>
			<string>tbiInfirmaryNormal</string>
			<key>SelectedImage</key>
			<string>tbiInfirmarySelected</string>
		</dict>
		<dict>
			<key>viewcontrol</key>
			<string>ELFoundViewController</string>
			<key>title</key>
			<string>发现</string>
			<key>image</key>
			<string>tbHealthPlanNormal</string>
			<key>SelectedImage</key>
			<string>tbiHabitSelected</string>
		</dict>
		<dict>
			<key>viewcontrol</key>
			<string>BestNewViewController</string>
			<key>title</key>
			<string>最新</string>
			<key>image</key>
			<string>tbiNearbyNormal</string>
			<key>SelectedImage</key>
			<string>tbiNearbySelected</string>
		</dict>
		<dict>
			<key>viewcontrol</key>
			<string>MineViewController</string>
			<key>title</key>
			<string>我的</string>
			<key>image</key>
			<string>tbiMineNormal</string>
			<key>SelectedImage</key>
			<string>tbiMineSelected</string>
		</dict>
	</array>
</dict>
</plist>
